In [ ]:
def pregunta_01():
    """
    Carga y separaci√≥n de los datos en `X` `y`
    """
    # Lea el archivo `concrete.csv` y asignelo al DataFrame `df`
    df = pd.read_csv("concrete.csv", sep=",")

    # Asigne la columna `strength` a la variable `y`.
    ____ = ____  

    # Asigne una copia del dataframe `df` a la variable `X`.
    ____ = ____.____(____)  

    # Remueva la columna `strength` del DataFrame `X`.
    ____.____(____)  

    # Retorne `X` y `y`
    return x, y

In [1]:
import pandas as pd

In [2]:
# Lea el archivo `concrete.csv` y asignelo al DataFrame `df`
df = pd.read_csv("concrete.csv", sep=",")
df.head()

   cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength
0   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1   540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2   332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3   332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4   198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30

In [17]:
# Asigne la columna `strength` a la variable `y`.
y = df.strength
y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: strength, Length: 1030, dtype: float64

In [18]:
# Asigne una copia del dataframe `df` a la variable `X`.
X = df.iloc[:, :8]
X

      cement   slag    ash  water  superplastic  coarseagg  fineagg  age
0      540.0    0.0    0.0  162.0           2.5     1040.0    676.0   28
1      540.0    0.0    0.0  162.0           2.5     1055.0    676.0   28
2      332.5  142.5    0.0  228.0           0.0      932.0    594.0  270
3      332.5  142.5    0.0  228.0           0.0      932.0    594.0  365
4      198.6  132.4    0.0  192.0           0.0      978.4    825.5  360
...      ...    ...    ...    ...           ...        ...      ...  ...
1025   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
1026   322.2    0.0  115.6  196.0          10.4      817.9    813.4   28
1027   148.5  139.4  108.6  192.7           6.1      892.4    780.0   28
1028   159.1  186.7    0.0  175.6          11.3      989.6    788.9   28
1029   260.9  100.5   78.3  200.6           8.6      864.5    761.5   28

[1030 rows x 8 columns]

In [20]:
X, y

(      cement   slag    ash  water  superplastic  coarseagg  fineagg  age
 0      540.0    0.0    0.0  162.0           2.5     1040.0    676.0   28
 1      540.0    0.0    0.0  162.0           2.5     1055.0    676.0   28
 2      332.5  142.5    0.0  228.0           0.0      932.0    594.0  270
 3      332.5  142.5    0.0  228.0           0.0      932.0    594.0  365
 4      198.6  132.4    0.0  192.0           0.0      978.4    825.5  360
 ...      ...    ...    ...    ...           ...        ...      ...  ...
 1025   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
 1026   322.2    0.0  115.6  196.0          10.4      817.9    813.4   28
 1027   148.5  139.4  108.6  192.7           6.1      892.4    780.0   28
 1028   159.1  186.7    0.0  175.6          11.3      989.6    788.9   28
 1029   260.9  100.5   78.3  200.6           8.6      864.5    761.5   28

 [1030 rows x 8 columns],
 0       79.99
 1       61.89
 2       40.27
 3       41.05
 4       44.30
         ...
 1025    44.28
 1026    31.18
 1027    23.70
 1028    32.77
 1029    32.40
 Name: strength, Length: 1030, dtype: float64)